# Project config
d4l-client-config-android.json
d4l-test-config-android.json
**/test_config.json
**/client_config.json

# Gradle
.gradle/
build/
local.properties

# IDEA/Android Studio ignores
*iml
.idea/*

# IDEA/Android Studio includes
!.idea/fileTemplates/
!.idea/inspectionProfiles/
!.idea/scopes/
!.idea/codeStyles/
!.idea/encoding.xml
!.idea/copyright/

# Others
captures/

.asciidoctor/

.DS_Store

# generated
sdk-core/src-gen/main/java/care/data4life/sdk/config/SDKConfig.kt

# Editors
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
